/* Recipe Page Styles */

/* Main Content Styles */
main {
  padding-top: 70px;
  padding-bottom: 20px;
  margin: 0 10px;
}

h1 {
  font-size: 1.8rem;
  text-align: center;
}

h2 {
  font-size: 1.3rem;
  margin-bottom: 10px;
  text-align: center;
}

/* Recipe Card Styles */
.recipe-card {
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recipe-card ul, .recipe-card ol {
  padding-left: 20px;
  margin-bottom: 0;
}

.recipe-card li {
  margin-bottom: 10px;
}

/* Images on the recipes page */
.curry-set-img,
.curry-pod-img,
.curry-udon-img,
.baked-curry-img,
.curry-croquette-img,
.curry-bread-img {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 200px;
  border-radius: 5px;
  margin-bottom: 15px;
}

/* Individual images */
.curry-set-img {
  background-image: url(../images/curry-set.jpg);
}

.curry-pod-img {
  background-image: url(../images/curry-pod.jpeg);
}

.curry-udon-img {
  background-image: url(../images/curry-udon.jpeg);
}

.baked-curry-img {
  background-image: url(../images/baked-curry.jpeg);
}

.curry-croquette-img {
  background-image: url(../images/croque.jpeg);
}

.curry-bread-img {
  background-image: url(../images/curry-bread.jpeg);
}
.fukujinzuke-img {
  background-image: url(../images/fukujinzuke.jpg);
}
.rakkyo-img {
  background-image: url(../images/rakkyo.jpg);
}

