/* Styling for thank-you.html and 404.html */

/* Common styling for both #thank-you and #not-found sections */
#thank-you, #not-found {
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fafafa;
  flex-direction: column; 
}
/* Specific background image for the thank-you section */
#thank-you {
  background-image: url(../images/curry-rice-main.jpeg);
}
/* Specific background image for the not-found section */
#not-found {
  background-image: url(../images/wallpaper.jpeg);
}
/* Styling for container elements */
.container {
  background: rgba(215, 212, 212, 0.7);
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 300px; 
  box-sizing: border-box;
  justify-content: center; 
  position: relative;
}
/* Styling for headings */
h1 {
  font-size: 2rem; 
  margin: 0.5em 0;
}
/* Styling for paragraph text */
p {
  line-height: 1.5;
  font-size: 0.9rem; 
  margin: 0.5em 0;
  color: #3a3a3a;
}
/* Styling for the back-home button */
.back-home {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #d77921;
  color: #faf0e6;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem; 
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}
/* Hover effect for the back-home button */
.back-home:hover {
  background-color: #696969;
}
/* Styling for the footer */
footer {
  margin-top: -40px;
}

/* Additional mobile-specific styles */
@media (max-width: 480px) {
  .container {
    width: 90%; 
    padding: 15px; 
  }
  h1 {
    font-size: 1.6rem;
  }
  
  p {
    font-size: 0.8rem;
  }

  .back-home {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}
/* Additional styles for larger screens */
@media (min-width: 1024px) {
  #thank-you, #not-found {
    justify-content: center; 
  }

  .container {
    width: 60%; 
    max-width: 800px; 
    padding: 40px; 
  }

  h1, p, .back-home {
    max-width: 100%; 
  }

  h1 {
    font-size: 2rem; 
    margin-bottom: 20px; 
  }

  p {
    font-size: 1rem; 
    margin-bottom: 30px; 
    text-align: center; 
  }

  .back-home {
    font-size: 1rem; 
    padding: 12px 24px; 
}
}